services:
  mongodb:
    image: 'mongo:8.2.1'
    environment:
      - 'MONGO_INITDB_DATABASE=sfg'
      - 'MONGO_INITDB_ROOT_USERNAME=root'
      - 'MONGO_INITDB_ROOT_PASSWORD=secret'
    ports:
      #- '27017'
      # this expose the port 27018 externally
      - '27018:27017'
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
  
  auth-server:
    container_name: auth-server
    image: domboeckli/spring-6-auth-server:0.0.5-SNAPSHOT
    ports:
      - "9000:9000"
    expose:
      - 9000
    environment:
      SPRING_SECURITY_OAUTH2_AUTHORIZATION_SERVER_ISSUER: http://localhost:9000
  
  busybox:
    image: busybox:1.37.0
    container_name: busybox
    depends_on:
      auth-server:
        condition: service_started
        required: true
    healthcheck:
      test: [ "CMD", "sh", "-c", "
            echo 'Checking BusyBox readiness...' &&
            test -f /bin/sh &&
            wget -qO- http://auth-server:9000/actuator/health/readiness | grep -q '\"status\":\"UP\"'
          " ]
      interval: 10s
      timeout: 5s
      retries: 5
    command: >
      /bin/sh -c '
      while true; do
        ts=$$(date -Iseconds)

        discovery_status="DOWN"
        readiness_status="DOWN"

        if wget -qO- http://auth-server:9000/.well-known/openid-configuration >/dev/null 2>&1; then
          discovery_status="UP"
        fi

        if wget -qO- http://auth-server:9000/actuator/health/readiness | grep -q "\"status\":\"UP\"" 2>/dev/null; then
          readiness_status="UP"
        fi

        echo "{
          \"timestamp\": \"$$ts\",
          \"checks\": {
            \"oidcDiscovery\": \"$$discovery_status\",
            \"actuatorReadiness\": \"$$readiness_status\"
          }
        }"

        sleep 5
      done
      '              
