server:
  port: 8083
  
management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests
  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    export:
      otlp:
        enabled: false
    sampling:
      probability: 1.0
  logging:
    export:
      enabled: false
      otlp:
        enabled: false
  simple:
    metrics:
      export:
        enabled: false
    
spring:
  application:
    name: spring-6-reactive-mongo
  
  main:
    allow-bean-definition-overriding: true
      
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9055
          
  docker:
    compose:
      enabled: false
      stop:
        command: down
  
  mongodb:
    host: localhost
    port: 27017
    uri: mongodb://localhost:27017/sfg
    database: sfg
    
springdoc:
  show-actuator: false
  show-oauth2-endpoints: true
  api-docs:
    enabled: true
  swagger-ui:
    oauth:
      # do that not on production!
      client-id: messaging-client
      client-secret: secret  
        
security:
  auth-server-health-url: http://localhost:9000
  authorization-url-for-openapi: http://localhost:9000/oauth2/auth
  token-url-for-openapi: http://localhost:9000/oauth2/token
  refresh-url-for-openapi: http://localhost:9000/oauth2/refresh-token
  cors:
    allowed-origins:
      - http://localhost:8080 # gateway project runs on port 8080
      - http://127.0.0.1:8080 # gateway project runs on port 8080      
      - http://localhost:30080 # gateway project runs on port 30080
      - http://127.0.0.1:30080 # gateway project runs on port 30080  
