apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "application-template.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "application-template.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "application-template.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "application-template.selectorLabels" . | nindent 8 }}
    spec:
      initContainers:
        - name: wait-for-mongodb
          image: {{.Values.busyboxImage.repository }}:{{.Values.busyboxImage.tag }}
          imagePullPolicy: {{.Values.busyboxImage.pullPolicy }}
          command: [ 'sh', '-c', 'until nc -z {{ .Values.mongodb.serviceFQDN  }} {{ .Values.mongodb.port }}; do echo "[busybox: wait-for-mongodb] waiting for mongodb"; sleep 2; done; echo "[busybox: wait-for-mongodb] mongodb is available"' ]
        - name: wait-for-auth-server
          image: {{.Values.busyboxImage.repository }}:{{.Values.busyboxImage.tag }}
          imagePullPolicy: {{.Values.busyboxImage.pullPolicy }}
          command: [ 'sh', '-c', 'until nc -z {{ .Values.authServer.serviceFQDN  }} {{ .Values.authServer.port }}; do echo "[busybox: wait-for-auth-server] waiting for auth-server"; sleep 2; done; echo "[busybox: wait-for-auth-server] auth-server is available"' ]
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.registry }}/@project.artifactId@:{{ .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SPRING_APPLICATION_JSON
              value: '{"debug":{{ .Values.global.springDebug | default false }}}' 
            - name: JAVA_TIMEZONE
              value: "{{ .Values.global.timezone }}"
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.spring.profiles.active | default "local" }}
              
            - name: SPRING_MONGODB_HOST
              value: "{{ .Values.mongodb.serviceFQDN  }}"
            - name: SPRING_MONGODB_PORT
              value: "{{ .Values.mongodb.port }}"
            - name: SPRING_MONGODB_URI
              value: "mongodb://{{ .Values.mongodb.serviceFQDN  }}:{{ .Values.mongodb.port }}/{{ .Values.mongodb.database }}"
            - name: SPRING_MONGODB_DATABASE
              value: {{ .Values.mongodb.database }}
              
            - name: SECURITY_AUTH_SERVER_HEALTH_URL
              value: "http://{{ .Values.authServer.serviceFQDN }}:{{ .Values.authServer.port }}"
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
              value: "http://{{ .Values.authServer.serviceFQDN }}:{{ .Values.authServer.port }}"

            - name: SECURITY_AUTHORIZATION_URL_FOR_OPENAPI
              value: "{{ .Values.externalAccess.protocol }}://{{ .Values.externalAccess.host}}:{{ .Values.authServer.nodePort }}/oauth2/auth"
            - name: SECURITY_TOKEN_URL_FOR_OPENAPI
              value: "{{ .Values.externalAccess.protocol }}://{{ .Values.externalAccess.host}}:{{ .Values.authServer.nodePort }}/oauth2/token"
            - name: SECURITY_REFRESH_URL_FOR_OPENAPI
              value: "{{ .Values.externalAccess.protocol }}://{{ .Values.externalAccess.host}}:{{ .Values.authServer.nodePort }}/oauth2/refresh-token"
          envFrom:
            - secretRef:
                name: {{ include "application-template.fullname" . }}-spring-mongodb-secrets
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          startupProbe:
            httpGet:
              path: /actuator/health
              port: http
            failureThreshold: {{ .Values.probes.startup.failureThreshold }}
            periodSeconds: {{ .Values.probes.startup.periodSeconds }}
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
          volumeMounts:
            - mountPath: "{{ .Values.global.timezonePath }}"
              name: time
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: time
          hostPath:
            path: {{ .Values.global.timezonePath }}
            type: ""
